In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('iris')
data


# sklearn mai data numpy ke form mai milenga
# seaborn mai data DataFrames ke form mai milenga

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Encoding target vector

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [5]:
encoder.fit_transform(data['species'])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
data['species'] = encoder.fit_transform(data['species'])

In [7]:
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [9]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]

## apply voting on whole dataset

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [13]:
model1 = LogisticRegression()
model2 = KNeighborsClassifier()
model3 = SVC()

In [14]:
estimators = [('LogisticRegression',model1),('KNN',model2),('svm',model3)]

In [19]:
import warnings
warnings.filterwarnings("ignore")


for est in estimators:
    x = cross_val_score(est[1],X,y,cv=10,scoring='accuracy')
    print("x value is : ",x)
    print(est[0],np.round(np.mean(x),2))      # decimal ke baad 2 value tak print honga
    print()

x value is :  [1.         0.93333333 1.         1.         0.93333333 0.93333333
 0.93333333 1.         1.         1.        ]
LogisticRegression 0.97

x value is :  [1.         0.93333333 1.         1.         0.86666667 0.93333333
 0.93333333 1.         1.         1.        ]
KNN 0.97

x value is :  [1.         0.93333333 1.         1.         1.         0.93333333
 0.93333333 0.93333333 1.         1.        ]
svm 0.97

## applying Voting classifier

In [22]:
from sklearn.ensemble import VotingClassifier
VC = VotingClassifier(estimators=estimators)
k = cross_val_score(VC,X,y,cv=10,scoring='accuracy')
print('voting classifier: ',np.round(np.mean(k),2))

voting classifier:  0.97

In [26]:
from sklearn.ensemble import VotingClassifier
VC = VotingClassifier(estimators=estimators,voting='soft')
k = cross_val_score(VC,X,y,cv=10,scoring='accuracy')
print('voting : ',np.round(np.mean(k),2))

voting :  nan

In [25]:
from sklearn.ensemble import VotingClassifier
VC = VotingClassifier(estimators=estimators,voting='hard')
k = cross_val_score(VC,X,y,cv=10,scoring='accuracy')
print('voting : ',np.round(np.mean(k),2))

voting :  0.97